.footer {
  background-color: #3a3a3a;
  color: #ccc;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  /* align-self: bottom;  <-- ESTA LÍNEA LA BORRAMOS, NO ES VÁLIDA */
  width: 100%;
}